@model List<TC_MachineAvailabilityCalendar.Models.Item>

@{
    ViewData["Title"] = "Index";
}

<h3>Index</h3>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>ImageUrl</th>
            <th>Availability</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.ImageUrl</td>
                <td>
                    <a asp-action="Calendar" asp-route-id="@item.Id">View Calendar</a>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }

    </tbody>
</table>